*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("background.jpeg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
color:white;
}

header{
background:#0a0a0a;
padding:20px 50px;
position:sticky;
top:0;
z-index:1000;
border-bottom:3px solid red;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:red;
font-size:32px;
text-shadow:0 0 10px red;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:bold;
font-size:18px;
transition:.3s;
}

nav ul li a:hover{
color:red;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
color:red;
text-shadow:0 0 15px red;
max-width:90%;
}

.hero p{
margin-top:20px;
font-size:24px;
color:white;
}

.btn{
display:inline-block;
margin-top:25px;
padding:12px 25px;
background:red;
color:white;
text-decoration:none;
border-radius:8px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:white;
color:black;
}

section{
padding:80px 10%;
text-align:center;
}

h2{
color:red;
font-size:40px;
margin-bottom:25px;
text-shadow:0 0 10px red;
}

#about img{
width:250px;
height:250px;
object-fit:cover;
border-radius:50%;
border:4px solid red;
box-shadow:0 0 20px red;
margin-bottom:20px;
}

#about p{
max-width:900px;
margin:auto;
font-size:20px;
line-height:1.8;
}

.skill-box{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skill-box div{
padding:15px 25px;
border:1px solid red;
background:rgba(255,0,0,0.15);
border-radius:10px;
font-weight:bold;
transition:.3s;
}

.skill-box div:hover{
background:red;
transform:scale(1.05);
}

.project-card{
width:80%;
margin:20px auto;
padding:25px;
background:#111;
border-left:4px solid red;
border-radius:10px;
transition:.3s;
}

.project-card:hover{
transform:translateY(-5px);
box-shadow:0 0 15px red;
}

.project-card h3{
color:red;
margin-bottom:10px;
}

.project-card p{
color:white;
}

.resume{
text-align:center;
}

#contact p{
margin:12px 0;
font-size:18px;
}

footer{
margin-top:40px;
padding:25px;
background:#0a0a0a;
border-top:3px solid red;
text-align:center;
}

@media(max-width:768px){

header{
padding:15px;
}

nav{
flex-direction:column;
}

nav ul{
margin-top:15px;
}

nav ul li{
margin:0 10px;
}

.hero h1{
font-size:40px;
}

.hero p{
font-size:18px;
}

#about img{
width:180px;
height:180px;
}

.project-card{
width:95%;
}

h2{
font-size:30px;
}

}
